.navbar-toggler-icon:before{
	content:'\2630';
	color: $primary;
	font-size: 2rem;
	position: fixed;
	left: 90%;
}

#menu-social-links {
	display: flex;
	list-style: none;
}

#menu-social-links li {
	margin-right: 1rem;
}

#menu-social-links li .fa {
	color: #f7f7f7;
}

.fa{
	margin-top: .3rem;
	padding: 0.4rem 0.3rem;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
}

.fa-eye {
	display: inherit!important;
}

.fa-angle {
	color: inherit;
}

.fa-chevron-circle-right {
	padding: 0;
}

.fa-calendar {
	font-size: 1rem!important;
}

.medium-round-icons{
	width: 7rem;
}

.small-round-icons{
	width: 3rem;
	height: 3rem;
}

.fa-facebook{
	background: #3b5998;
}

.fa-twitter{
	background: #00acee;
}

.fa-github{
	background: #424242;
}

.fa-linkedin{
	background: #0077b5;
}

.fa-instagram{
	background: #c41e6e;
}

.fa-whatsapp{
	background: #25d366;
}