.custom-service-small-image{
	width: 100px;
	height: 100px;
}

.custom-res-image{
	width: 100%;
	height: auto;
}

.custom-image-hover:hover{
	background: $white
}

.avatar{
	border-radius: 100%;
    border: .1rem solid $primary;
    padding: .1rem;
}